    @font-face {
        font-family: 'custom-font';
        src: url('custom-font.eot');
        /* IE9 兼容模式 */
        src: /* 指定使用者電腦裡的字體名稱 */
        url('custom-font.eot#iefix') format('embedded-opentype'), /* IE6 - IE8 */
        url('custom-font.woff') format('woff'), /* 現代瀏覽器 */
        url('custom-font.ttf') format('truetype'), /* Safari, Android, iOS */
        url('custom-font.svg#LindenHill') format('svg');
        /* iOS */
        font-weight: 400;
        font-style: normal;
    }
    /* 讓border在box裡不會往外長, 只往內長, 前面兩行是針對舊版或不同瀏覽器寫的前綴 */
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    h1 {
        font-family: 'Ostrich-sans';
        font-size: 30px;
        text-align: left;
    }
    
    a {
        font-size: 20px;
        text-decoration: none
    }
    /* 裝飾線的值
值	效果
none	無裝飾線
inherit	繼承上層元素
overline	文字上方的線
underline	文字下方的線
line-through	文字中央的線 */
    
    .btn {
        display: block;
        width: 120px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        color: white;
        text-decoration: none;
        /* display: inline; (一般文字為inline, 按鈕要將他調整為block) */
        background-color: aqua;
        transition: all;
    }
    /* 滑鼠經過> hover */
    
    .btn:hover {
        background-color: darkblue;
        background-color: lighten(#277496, 5%);
        width: 350px;
    }
    
    .btn:active {
        background-color: darkslateblue;
    }
    
    .box {
        width: 300px;
        height: 300px;
        background-color: darkgreen;
        border: 20px solid red;
        padding: 30px 10px;
        /* Padding分為兩種寫法: 
        1. 第一個數為上下留白, 第二個為左右
              2. 總共4個數值, 上>右>下>左, 順時鐘為順序 */
        或是 padding: 30px 10px 30px 10px;
        margin: 10px 100px;
        或是 margin: 10px 100px 10px 100px;
        或是 margin: auto
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32ff9f+0,777bdd+60,777bdd+66,777bdd+100 */
        background: #32ff9f;
        /* Old browsers */
        background: -moz-linear-gradient(top, #32ff9f 0%, #777bdd 60%, #777bdd 66%, #777bdd 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #32ff9f 0%, #777bdd 60%, #777bdd 66%, #777bdd 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #32ff9f 0%, #777bdd 60%, #777bdd 66%, #777bdd 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32ff9f', endColorstr='#777bdd', GradientType=0);
        /* IE6-9 */
    }
    /* 到codepen可以看別的血的code */
    /* 搜尋radiant generator 可以直接網路上搜尋別人寫好的code
     */
    
    header {
        width: 100%;
        height: 300px;
        background-color: blue;
        background-image: url("https://unsplash.it/500/300");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    body {
        min-height: 1000px;
    }
    
    ul {
        list-style: none
    }
